# Node
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
client/.env
server/.env

# Build output
dist/
client/dist/
server/dist/

dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?








server/old
client/src/old

client/src/pages/Leads/old
client/src/pages/Admin/olduser.jsx

client/src/Layout/resLayout.css


GitCommands.txt