name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug Secrets
        run: |
          echo "HOST: ${{ secrets.EC2_HOST }}"
          echo "USER: ${{ secrets.EC2_USER }}"

      - name: Test secrets
        run: |
          if [ -z "${{ secrets.EC2_HOST }}" ]; then echo "EC2_HOST missing"; fi
          if [ -z "${{ secrets.EC2_USER }}" ]; then echo "EC2_USER missing"; fi
          if [ -z "${{ secrets.EC2_SSH_KEY }}" ]; then echo "EC2_SSH_KEY missing"; fi



      - name: SSH & Deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/paisavidhya
            git pull origin main
            docker-compose build
            docker-compose up -d
